


.gallery_wrap{
    width: 700px;
    margin: 0 auto;
    margin-top: 100px;
}
.content{
    margin-bottom: 150px;
}
h2{
    margin: 20px 0;
}
.news_item_date{
    font-size: 40px;
    font-weight: normal;
    position: absolute;
    top: 0;
    right: 13px;
}