{% extends 'app/second_template.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/second_template.css' %}">
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}"> 

{% endblock %}
{% block main %}
    <article>
        <div class="top_pict">  </div>
            <div class="content mw">
                <div class="art_label palker">
                    <div class="vinete">
                        <div class="vinete_inner"></div>
                    </div>
                    <h1>О пивоварне</h1>
                </div>
                <p class="top_text segoe">Мы варим редкие и классические сорта пива. В нашей линейке есть хеллес,
                    берлинер,
                    квадрюпель, меломел, чесночный эль и еще много других сортов. Мы экспериментируем со стилями и
                    ингридиентами, добавляя в некоторые варки не только фрукты и ягоды, но и овощи. Мы варим редкие и
                    классические сорта пива. В нашей линейке есть хеллес, берлинер, квадрюпель, меломел, чесночный эль и
                    еще
                    много других сортов. Мы экспериментируем со стилями и ингридиентами, добавляя в некоторые варки не
                    только фрукты и ягоды, но и овощи </p>


   

        </div>
        <div class="content ">
            <div class="two_dudes mw segoe">
                <div class="oh dude">
                    <img class="left_img dude_photo" src="{% static '/images/about_us/190x190_pavel.jpg' %}">
                    <p class="dude_text">
                        Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось? » – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах.
                    </p>
                    <p class="dude_text">
                        Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет.
                    </p>
                </div>
                <div class="oh dude">
                    <p class="dude_text">
                        Когда от милой моей долины поднимается пар и полдневное солнце стоит над непроницаемой чащей темного леса и лишь редкий луч проскальзывает в его святая святых, а я лежу в высокой траве у быстрого ручья и, прильнув к земле, вижу тысячи всевозможных былинок и чувствую, как близок моему сердцу крошечный мирок, что снует между стебельками, наблюдаю эти неисчислимые, непостижимые разновидности червяков и мошек и чувствую близость всемогущего, создавшего нас по своему подобию, веяние вселюбящего, судившего нам парить в вечном блаженстве, когда взор мой туманится и все вокруг меня и небо надо мной запечатлены в моей душе, точно образ возлюбленной, - тогда, дорогой друг, меня часто томит мысль: "Ах! Как бы выразить, как бы вдохнуть в рисунок то, что так полно, так трепетно живет во мне, запечатлеть отражение моей души, как душа моя - отражение предвечного бога! " Друг 
                    </p>
                    <p class="dude_text">
                        Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты.
                    </p>
                    <img class="right_img dude_photo" src="{% static '/images/about_us/190x190_Ilya.jpg' %}">
                </div>

            </div>
            <div class="with_photo_block segoe">
                <div class="bot_circles"></div>
                <p class="mw">
                    В частности, внедрение современных методик предполагает независимые способы реализации первоочередных требований. Равным образом, разбавленное изрядной долей эмпатии, рациональное мышление предполагает независимые способы реализации прогресса профессионального сообщества. С учетом сложившейся международной обстановки, укрепление и развитие внутренней структуры позволяет выполнить важные задания по разработке дальнейших направлений развития! В частности, убежденность некоторых оппонентов требует от нас анализа своевременного выполнения сверхзадачи.
                </p>
                <div class="up_circles"></div>
            </div>

            <div class="bot_text mw segoe">
                <p> Ясность нашей позиции очевидна: перспективное планирование способствует повышению качества системы массового участия. В рамках спецификации современных стандартов, некоторые особенности внутренней политики ограничены исключительно образом мышления. Для современного мира высокотехнологичная концепция общественного уклада создает предпосылки для системы массового участия. Безусловно, консультация с широким активом предоставляет широкие возможности для системы массового участия. Лишь действия представителей оппозиции лишь добавляют фракционных разногласий и рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Но курс на социально-ориентированный национальный проект однозначно фиксирует необходимость направлений прогрессивного развития!</p>
                <p> С другой стороны, семантический разбор внешних противодействий напрямую зависит от системы обучения кадров, соответствующей насущным потребностям. Лишь предприниматели в сети интернет набирают популярность среди определенных слоев населения, а значит, должны быть описаны максимально подробно. Также как курс на социально-ориентированный национальный проект представляет собой интересный эксперимент проверки направлений прогрессивного развития. Независимые государства освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, подвергнуты целой серии независимых исследований.</p>
            </div>
        </div>
    </article>
{% endblock %}