    <script>
        $(document).ready(function () {
            $(".image_big").each(function () {
                var img = $(this).attr("data-val");
                $(this).attr("src", img);
            });
            $(".bottle_image").click(function () {
                var big_image = $(this).siblings(".big_image_wr");
                if (big_image.length > 0) {
                    $(".light_box").removeClass("hidden");
                    setTimeout(function () {
                        $(".light_box").addClass("op1");
                    }, 1)
                    big_image.removeClass("fake_hidden");
                }
            });
            $(".big_image_wr").click(function () {
                $(".light_box").removeClass("op1");
                setTimeout(function () {
                    $(".light_box").addClass("hidden");
                }, 300);
                $(".big_image_wr").addClass("fake_hidden");
            });
        });
                </script>

{% for bottle in bottles %}
    <div class="bottle_wr">
        <img alt="" class="bottle_image" src="{{ bottle.image_index.url }}"/>
        {% if bottle.image_big.name is not None %}
            <div class="big_image_wr fake_hidden">
                <span class="helper"></span> <img class="image_big" alt="" src=""
                                                  data-val="{{ bottle.image_big.url }}"/>
            </div>
        {% endif %}
        <div id="desc_bottle{{ forloop.counter }}" class="list bottle_desc_item">
            <h3 class="bottle_name palker">{{ bottle.name }} <span class="fr">{{ bottle.volume }}</span></h3>
            <div class="desc_table">
                <div class="properties">
                    {% for prop in bottle.properties.all %}
                        <div class="bottle_property">
                            <p class="propery_name segoe">{{ prop }} </p>
                            <div class="prop_circles">
                                {% for counter in "xxxxx" %}
                                    {% if forloop.counter <= prop.level_id.value %}
                                        <div class="prop_circle need_full">
                                            <div class="prop_circle inner"></div>
                                        </div>
                                    {% else %}
                                        <div class="prop_circle"></div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="second_properties palker">
                    <div class="second_prop"><p>С чем пить:<span
                            class="palker_light"> {{ bottle.drink_with }}</span>
                    </p>
                    </div>
                    <div class="second_prop">
                        <div class="col2_border w60 drink_from"><p>Из чего пить:<span
                                class="palker_light"> {{ bottle.drink_from }}</span></p>
                            {% if bottle.drink_from.image %}
                                <div class="segoe bottle_hint">
                                    <img src="{{ bottle.drink_from.image.url }}"/>
                                    <p>{{ bottle.drink_from.text }}</p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col2_border w40"><p class="pl10">Пить при:<span
                                class="palker_light"> {{ bottle.temperature }}С</span>
                        </p>
                        </div>
                    </div>
                    <div class="second_prop">
                        <div class="col3_border"><p>ABV: {{ bottle.ABV }}%</p></div>
                        <div class="col3_border"><p class="pl10">OG: {{ bottle.OG }}%</p></div>
                        <div class="col3_border"><p class="pl10">IBU: {{ bottle.IBU }}</p></div>
                    </div>
                </div>
            </div>
            <div class="bottle_text segoe">
                <p> {{ bottle.text }} </p>
            </div>
            <p class="sostav segoe"><b>Состав:</b><span>{{ bottle.composition }}</span></p>
        </div>
    </div>
{% endfor %}