{% extends 'app/template.html' %}
{% load staticfiles %}

{% block header %}
       <div class="header">
        <div class="mw header_inner">
            <a class="h_logo" href="/">
                <img src="{% static 'images/template/Raven_logo.png' %}"/>
                <p class="underlogo_text">Сварено в Воронеже</p>
                <p class="underlogo_text2">Сварено с любовью</p>
            </a>
            <nav class="h_nav palker">
                <div class="h_nav_item">
                    <a href="/o-nas">О пивоварне</a>
                    <div class="h_underline"></div>
                </div>
                <div class="h_circle_wrapper">
                    <div class="h_circle"></div>
                </div>
                <div class="h_nav_item">
                    <a href="/nashi-sorta/pivo/all">Наши сорта</a>
                    <div class="h_underline"></div>
                </div>
                <div class="h_circle_wrapper">
                    <div class="h_circle"></div>
                </div>
                <div class="h_nav_item">
                    <a href="/gde-kupit">Где купить</a>
                    <div class="h_underline"></div>
                </div>
                <div class="h_circle_wrapper">
                    <div class="h_circle"></div>
                </div>
                <div class="h_nav_item">
                    <a href="/novosti-i-stati">Новости и статьи</a>
                    <div class="h_underline"></div>
                </div>
                <div class="h_circle_wrapper">
                    <div class="h_circle"></div>
                </div>
                <div class="h_nav_item">
                    <a href="/kontakty">Контакты</a>
                    <div class="h_underline"></div>
                </div>
            </nav>
            <div class="h_contacts segoe">
                <p class="h_phone">+7 (920) 467-65-08</p>
                <p class="h_address">г. Воронеж, ул. Остужева, д. 157</p>
                <div class="h_logos">
                    <a href="https://vk.com/ravencraftbeer" target="_blank" class="vk_circle"></a>
                    <a href="https://www.facebook.com/Ravencraftbeer" target="_blank" class="facebook_circle"></a>
                    <a href="https://www.instagram.com/ravencraftvrn/" target="_blank" class="instagram_circle"></a>
                </div>
            </div>
        </div>
        <div class="up_circles"></div>

    </div>
{% endblock %}